<body>

    <div id="body">
        <img src="/pictures/notFound/sad-apple-logo.png" alt="" id="sadAppleLogo">
        <p id="title1">
            <%= title1 %>
        </p>
        <p id="title2">
            <%= title2 %>
        </p>
    </div>

</body>


<style>
    html {
        margin: 0%;
    }

    body {
        background-color: #181818;
        margin: 0;
        padding: 0;
        line-height: normal;
    }

    #body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        background-color: rgb(245, 245, 245);
        height: 40em;
    }

    #title1 {
        color: #676767;
        font-family: inter, helvetica, sans-serif;
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 10px !important;
    }

    #title2 {
        color: #676767;
        font-weight: 200;
        font-size: 20px;
    }


    #sadAppleLogo {
        height: 90px;
        margin: 20px;
    }
</style>