<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apple</title>

    <link rel="stylesheet" href="/css/bottomNavBar.css">

</head>

<body>
    <!-- bottom navigation bar -->
    <nav id="bottomNav">
        <ul>
            <li><a href="">Explore</a></li>
            <hr class="hrs">
            <li><a href="">Account</a></li>
            <hr class="hrs">
            <li><a href="">About Apple</a></li>
            <hr class="hrs">
            <li><a href="">Privacy</a></li>
            <hr class="hrs">
            <li><a href="">Report a problem</a></li>
        </ul>
        <p id="copyright"> <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Apple_logo_black.svg/976px-Apple_logo_black.svg.png?20220821121934"
                alt=""> Copyright &copy; 2024 Apple Inc. All rights reserved to Yuval Farangi.</p>
    </nav>

</body>

</html>