<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <div id="titleContainer">
        <h1>
            <%=N %>
        </h1>
        <p>
            <%= t1 %> <br>
                <%= t2 %>
        </p>
    </div>
</body>

</html>

<style>
    #titleContainer {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-between;
        background-color: #f5f5f7;
        padding: 50px;
        align-items: center;

        h1 {
            font-size: 65px;
            font-weight: 600;
        }

        p {
            font-size: 30px;
            font-weight: 600;
            line-height: normal;
            margin: 0;
            text-align: end;
        }
    }


    @media(max-width: 900px) {

        #titleContainer {
            padding: 40px;
        }

        #titleContainer h1 {
            font-size: 55px;
        }

        #titleContainer p {
            font-size: 20px;
        }
    }

    @media(max-width: 800px) {
        #titleContainer {
            padding: 40px;
            flex-direction: column;
            align-items: flex-start;
        }

        #titleContainer h1 {
            font-size: 50px;
        }

        #titleContainer p {
            font-size: 15px;
            text-align: start;
        }
    }
</style>