<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>

    <section id="shopping">
        <% for(let item of items){ %>
            <%- include('./productCard.ejs', {item}) %>
                <% }%>
    </section>

</body>

</html>

<style>
    #shopping {
        display: flex;
        flex-direction: row;
        padding: 60px;
        justify-content: flex-start;
        text-align: center;
        background-color: #f6f6f6;
        flex-wrap: nowrap;
        gap: 15px;
        height: auto;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
    }
</style>