<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/topNavBar.css">
</head>

<body>
    <!-- navigation bar -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="upperNav">


        <a href="/" class="navbar-brand"> <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Apple_logo_black.svg/976px-Apple_logo_black.svg.png?20220821121934"
                alt=""> </a>


        <div class="collapse navbar-collapse" id="collapse">
            <div class="navbar-nav">
                <a href="" class="nav-item nav-link">Mac</a>
                <a href="/iPad" class="nav-item nav-link">iPad</a>
                <a href="" class="nav-item nav-link">iPhone</a>
                <a href="" class="nav-item nav-link">Watch</a>
                <a href="/AirPods" class="nav-item nav-link">AirPods</a>
                <a href="/Home" class="nav-item nav-link">TV & Home</a>
                <a href="/items" class="nav-item nav-link">Store</a>
            </div>
        </div>

        <div id="fixed">
            <a href="/account" id="accountLink"><img src="/pictures/navBar/account.png" alt="" id="accountImg"></a>
            <form action="/items/search">
                <input type="text" placeholder="Search an Apple product" name="q">
            </form>
        </div>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapse"
            aria-controls="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </nav>
    <div style="height: 65px; position: sticky;"></div>
    <!-- <script src="js/bootstrap.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>