<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/generic.ejs')%>
</head>

<body>
    <%- include('partials/topNavBar.ejs')%>

        <%- include('partials/alertMessage.ejs', {title1, title2})%>

            <%- include('partials/bottomNavBar.ejs')%>
</body>

</html>