body {
    margin: 0 !important;
}

#macbookAir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fbfbfb;
    /* padding: 80px 70px 0px 90px; */
    padding: 90px 90px 0px 80px;
    margin: 0;

    h2 {
        color: #181818;
        font-size: 5vw;
        font-weight: 700;
        width: 100%;
        white-space: nowrap;
        margin: 0;
    }

    p {
        font-size: 25px;
        font-weight: 450;
        color: #86868b;
        margin: 0;
        margin-bottom: 30px;
    }

}

@media(max-width: 900px) {

    #macbookAir {
        padding: 50px;
    }


    #macbookAir h1 {
        font-size: 10vw;
    }

    #macbookAir p {
        font-size: 17px;
    }

}