.card {
    display: flex;
    justify-content: end;
    flex: 1;
    border-radius: 0% !important;
    min-height: 590px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    align-items: center;
    border: none !important;
    transition: 0.5s ease;

    position: relative;
    overflow: hidden;
}

.card-content {
    transition: .5s ease;
    margin-bottom: 60px;

    position: relative;
    z-index: 2;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    /* Transparent by default */
    transition: background-color 0.3s ease;
    z-index: 1;
    /* Make sure it's on top */
}

.card:hover::before {
    background-color: rgba(255, 255, 255, 0.1);
    /* Light white overlay on hover */
}

.card:hover .card-content {
    transform: scale(1.05);
}


.cardProductName {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 33px;
    font-weight: 550;
    color: white;
    margin-bottom: 0;
}

.cardProductDescription {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: white;
    margin: 5px 5px 20px 0px;
    overflow-wrap: break-word;
}

.cardBuyButton {
    background-color: #0171e3;
    font-family: inter, helvetica, sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: white;
    border: 0;
    padding: 0.3em 0.9em;
    height: fit-content;
    border-radius: 1em;
    text-decoration: none
}

.cardBuyButton:hover {
    background-color: #398cf1;
}

@media(max-width: 900px) {
    .cardProductName {
        font-size: 30px;
    }

    .cardProductDescription {
        font-size: 15px;
    }

    .cardBuyButton {
        font-size: 15px;
    }
}