/* upper navigation */
#upperNav {
    background-color: #181818 !important;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed !important;
    width: 100%;
    z-index: 1000;

    .navbar-brand img {
        width: 0.9em;
        margin: 0px 25px;
        filter: invert(94%) sepia(2%) saturate(3%) hue-rotate(315deg) brightness(94%) contrast(82%);
    }

    a {
        color: #d1d1d1;
        font-family: helvetica, arial, sans-serif;
        height: 65px;
        padding: 0px 20px;
        margin: 0px 20px;
        font-size: 14px;
        display: flex;
        transition: 0.5s;
        align-items: center;
    }

    a:hover {
        background-color: #111111;
        margin-left: 35px;
        margin-right: 35px;
    }

    #collapse {
        justify-content: center;
    }

    input {
        font-family: helvetica, arial, sans-serif;
        box-sizing: content-box;
        font-size: 14px;
        border-radius: 50px;
        border: 0;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 9px;
        padding-bottom: 9px;
        margin-right: 25px;
        width: 45px;
        background-color: #303030;
        transition: .5s ease-out;
        color: white;
    }

    input:hover {
        width: 155px;
    }

    button {
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1030;
        margin-top: 15px;
        margin-right: 20px;
    }

    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
    }
}

#fixed {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#accountImg {
    width: 1.5em;
    filter: invert(94%) sepia(2%) saturate(3%) hue-rotate(315deg) brightness(94%) contrast(82%);
    margin: 0px;
}

#accountLink {
    padding: 0px 10px 0px 10px !important;
    margin-right: 10px !important;
}

@media(max-width: 992px) {
    #upperNav input {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 80px;
    }

    #upperNav a {
        height: 60px;
        font-size: 16px;
    }
}